.btn-add{
    position: fixed;
    bottom: 150px;
    right: 60px;
    width: 80px;
    height: 80px;
    border-radius: 50% 50% 50% 50%;
    border-bottom:  6px solid rgba(53, 34, 34, 0.801);
  
}
.form-control{
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #E8EAED;
    text-shadow: 1px 2px 1px black;
    letter-spacing: 5px;
    border-bottom: 5px solid grey !important;
    border-radius: 0 !important;
}
.form-control:focus{
    color: #E8EAED;
    text-shadow: 1px 2px 1px black;
}
.v-text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #E8EAED;
    text-shadow: 1px 2px 2px black;
}
/* .form-control:focus{
    outline: 1px solid black !important;
} */